<footer class="app-footer-icon">
  <div class="float-right app-icon-base p-t-20">
    <span data-hint="Add Your First Claim" [hidden]="(claimHistory.length > 0)" class="hint-top-middle-t-info hint-persist" style="right:90px;top:0px;"></span>
    <span data-hint="View Your Claim Here" [hidden]="!firstVisitHistory" class="hint-top-middle-t-info hint-persist" style="right:218px;top:0px;"></span>

    <div class="t-aeb_add float-right m-r-50 m-b-20" aria-label="Thank you!" (click)="onClickAddClaim()" ></div>
    <div class="t-aeb_list float-right m-r-50 m-b-20" routerLinkActive="active" [hidden]="!(claimHistory.length > 0)" (click)="onClickClaimHistory()"></div>
  </div>
</footer>
