<header class="app-header navbar">
  <a class="navbar-brand" href="#/dashboard"></a>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown>
      <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
        <img src="assets/img/avatar.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
        <span class="d-md-down-none">Ah Kow</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/login']">Logout</a>
      </div>
    </li>
  </ul>
</header>
