// core overrides

// Sidebar

$sidebar-width:                       260px;
$mobile-sidebar-width:                260px;

// Navbar

$navbar-brand-width:                  215px;


// date picket z-index

$datepicker-z-index:                  1100;

//Input

$input-placeholder-color:        $gray-300;

//Form
$form-group-margin-bottom:       0.3rem;